/* AboutPage.css */

.about-container {
  padding: 40px 20px; /* Existing padding for general layout */
  padding-top: 10%; /* Add extra padding to account for the navbar height */
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;
  color: #ffffff;
  font-family: "Arial", sans-serif;
}

.about-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: bold;
  color: salmon; /* Neon green for a modern touch */
}

.about-card {
  margin-bottom: 20px !important;
  border-radius: 15px !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #1e1e1e !important;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* .about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
} */

.about-subtitle {
  margin-bottom: 10px;
  font-size: 1.9rem;
  font-weight: 600;
  color: salmon;
}

.about-text {
  font-size: 1.1rem !important;
  line-height: 1.1 !important;
  color: #fff;
  text-align: justify;
}

.about-text p {
  margin: 0 0 15px 0; /* Space between paragraphs */
}

.about-text strong {
  font-weight: bold;
  color: #fff;
  text-decoration: none; /* Emphasize key points */
}

.next-steps-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 16px;
}

.next-step-card {
  background-color: #2b2b2b;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.playlists-section {
  margin: 40px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  color: salmon;
}

.strike-through {
  text-decoration: line-through;
  margin-right: 3px;
  text-decoration-thickness: 3px; /* Adjust the thickness */
  text-decoration-color: red; /* Optional: Change the color of the line-through */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .next-steps-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Two columns */
    gap: 16px;
  }

  .about-container {
    margin-top: 25%;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-subtitle {
    font-size: 1.5rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.8rem;
  }
}
