/* Contact.css */

.booking-container {
  position: relative; /* To position the background overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px !important;
  border-radius: 20px;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  background: rgba(255, 255, 255, 0.431) !important;
  margin: 0 auto;
  /* background: url('/pics/compressed/drewdeepE.jpg') center/cover no-repeat;  */
  z-index: 1; /* Ensure content is on top */
}

.booking-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.177); /* Black overlay with 50% opacity */
  border-radius: 20px; /* Same as the container */
  z-index: -1; /* Behind the content */
}

.date {
  display: flex;
  justify-content: center; /* Centers the date picker horizontally */
  margin-top: 1rem;
}

.date-picker {
  width: 70%; /* Sets the width of the date picker */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center; /* Centers the placeholder text */
}


.booking-container .form-container {
  
  padding: 30px;
  border-radius: 10px;
}

.booking-container .form-container h4 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #333;
}

.booking-container .form-container form {
  display: flex;
  flex-direction: column;
}

.booking-container .form-container .MuiTextField-root,
.booking-container .form-container .MuiFormControl-root {
  margin-bottom: 20px;
}

.booking-container .form-container .MuiButton-root {
  margin-top: 1.5rem;
  background-color: #8f2121;
  color: #fff;
  border-radius: 20px;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}

.booking-container .form-container .MuiButton-root:hover {
  background-color: #a52c2c;
}

.booking-container .form-container .date-picker {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.booking-container .form-container .MuiTypography-body2 {
  color: red;
  margin-top: 0.5rem;
}

.booking-container .form-container .MuiTypography-body1 {
  color: green;
  margin-top: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .booking-container {
    padding: 30px 0;
    border-radius: 0;
  }

  .booking-container .form-container {
    padding: 20px;
  }
}
