/* Media.css */

.media-container {
  display: flex; /* Use flexbox to arrange items */
  justify-content: center; /* Center the video card */
  margin: 20px; /* Add margin for spacing */
}

.video-card {
  width: 100% !important; /* Full width for the single video */
  margin: 10px; /* Space between cards */
  border-radius: 20px !important;
  background-color: #121212 !important;
}

.video-card iframe {
  width: 55vw !important;
  height: 60vh;
  border: none;
}

.video-card .video-title {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  color: #fff;
  margin-top: 0px;
  text-align: center;
}


