.streaming-container {
  display: flex;
  width: 90vw;
  margin: auto;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #121212;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.styled-iframe {
  width: 95%;
  height: 450px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  /* Box shadow for luxurious look */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.styled-iframe:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .streaming-container {
    width: 72vw;
  }

  .styled-iframe {
    width: 100%;
  }
}
