/* Streaming.css */

.streaming-container {
  display: flex;
  width: 90vw !important; /* Default width for mobile */
  margin: auto;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  padding: 10px !important;
  background-color: #121212;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.styled-iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  /* Box shadow for luxurious look */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.styled-iframe:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .streaming-container {
    width: 74vw !important; /* Width for desktop */
    padding: 20px !important;
  }
}
