/* UpcomingShows.css */

.upcoming-shows {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: flex-start; /* Align items to the start */
  background: transparent !important;
  color: #fff;
}

.show-image-up {
  height: 350px !important;
  object-fit: cover;
}

.show-slide {
  height: auto;
  box-sizing: border-box;
}

.show-card-up {
  display: flex;
  flex-direction: row;
  background-color: #181818 !important;
  color: white !important;
  margin: 5px; /* Margin between cards */
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  border-radius: 20px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.show-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.show-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.show-title {
  font-size: 1rem;
  text-decoration: underline;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.location-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 0px;
}

.oval-button {
  background-color: transparent !important;
  color: salmon !important;
  border: 2px solid salmon !important;
  border-radius: 20px !important;
  padding: 5px 5% !important;
  margin: 5px !important;
  font-size: 0.7rem !important;
  font-weight: bold !important;
  white-space: nowrap !important;
  text-transform: none;
  cursor: pointer;
  transition: all 0.3s ease !important;
  float: right !important;
}

.oval-button:hover {
  background-color: salmon !important;
  color: #fff !important;
}

.full-image-dialog .MuiDialog-paper {
  overflow: hidden;
}

.full-image-dialog-content {
  padding: 0;
  position: relative;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  color: white;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 1000;
}

@media (max-width: 768px) {
  .show-image {
    height: 300px;
  }

  .show-image-up {
    height: auto !important;
    object-fit: cover;
  }

  .oval-button {
    padding: 8px 10% !important;
    margin: 1px !important;
    font-size: 0.7rem !important;
    white-space: nowrap !important;
  }

  .location-text {
    width: 45%;
    margin: 2px;
  }

  .show-card-up {
    flex: 0 0 calc(50% - 10px); /* Two cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .show-card-up {
    flex: 0 0 100%; /* One card per row on mobile */
  }
}
